.container#content {
  margin-top: 8rem; //margem do container principal
}
body {
  background-color: #F7F7F7;
}
a {
  color: #0056b3;
  
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: 'Roboto';
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #18A395;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 2;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #F4F4F4;
  font-weight: bold; /* Negrito */
  &:hover {
    color: white;
    
  }
}

ul {
  list-style: none;
  padding: 0;
}
