.container#content {
  margin-top: 6rem; //margem do container principal
}
img{
  margin-bottom: 0px; //variável entre o logo e navbar
}
body {
  background-color: #F7F7F7;
}
a {
  color: #0056b3;
  margin: 0px;
  box-shadow: 0px;

  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: 'Roboto';
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #18A395;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 2;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #F4F4F4;
  font-weight: bold; /* Negrito */
  padding-bottom: 0px ;

  &:hover {
    color: white;
    
  }
}
.dropdown-menu.show{
  background-color: #17978A;// altera às cores do container do submenu
}
.dropdown-menu.show:hover{
  background-color: #18A395;// altera às cores do container do submenu
}
ul {
  list-style: none;
  padding: 0;
}
