.social-share-links {
  ul {
    display: inline-flex;
    margin: 20px auto;

    li {
      margin: auto 20px;
    }
  }
}
.facebook{
  width: 45px;
  margin: auto 5px;
}
.twitter{
  width: 45px;
  margin: auto 5px;

}
.instagram{
  width: 45px;
  margin: auto 5px;
}
.youtube{
  width: 45px;
  margin: auto 5px;
}